%div{ssl: (PUBNUB_VARS["ssl_on"] == "true" ? "on" : "off"), origin: "pubsub.pubnub.com", id: "pubnub", "sub-key" => PUBNUB_VARS["subscribe_key"]}
%script{src: "//cdn.pubnub.com/pubnub-3.1.min.js"}


%h1.name_user Esperando usuario....


:javascript
  var channel               = "screen_show"

  $(document).ready(function() {
    (function(){
        PUBNUB.subscribe({
            channel    : channel,
            restore    : false,
            callback   : function(message) {
              console.log(message)
              $('.name_user').html("Hola "+message+" Bienvenido :)")
            },

        })

    })();
  });